# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
npm-debug.log*

# VSCode repo settings
.vscode

# ESlint
.eslintignore
.eslintrc.json
.eslintrc